
{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "rules": {
    "quotes": [0, "single"]
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
